body {
    font-family: 'Montserrat';
    background-color: var(--body-color);
    transition: var(--animation);
}

.seccion {
    padding: 8em 0;

}


.submit {
    background-color: #3E5C7F;
    border-radius: 10px;
    color: white;
    height: 50px;
    transition: 0.3s;


}

.submit:hover {
    background-color: #052D40;
    color: white;
    transition: 0.3s;

}


a {
    padding-top: 12px !important;
}


label {
    color: var(--colorLetra);
}


.input-forms {
    color: var(--colorLetra);
    background-color: var(--body-color);
    border-radius: 10px;
    border: 1px solid var(--colorLetra);
    transition: var(--animation);
}

.input-forms:hover {
    border-color: var(--colorLetra);
    box-shadow: none;
    background-color: var(--colorContainer);
    transition: 0.3s;
}

.input-forms:focus {
    background-color: var(--body-color);
    box-shadow: none;
    color: var(--colorLetra);
}

.contenedorForm {

    background-color: var(--colorContainer);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: var(--animation);

}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer .formDatos {
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: 0.3s;

}

label {
    transition: var(--animation);
}


.btnPass {

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: var(--colorLetra);
    padding-top: 8px;
    transition: 0.3s;
    margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    transition: var(--animation);
    color: var(--colorLetra);

}

.alertaText{

    font-size: 14px;
}